.DS_Store
.buildpath
.project
.settings
.htaccess
!cache/index.html
cache/*
config/*
robots.txt

#For Toby's own repo (should really clean these up on my comp):
plugins/old
plugins/Emoticons
skins/old
uploads/*