/*
Default Skin Styles
This stylesheet contains styles that define Default-specific fonts, sizes, and colors, and the layout of the
wrapper (header + footer). Interface-specific styles are included in skins/base/base.css and can be overridden
here if necessary.
*/

/* Global */
body {font-size:13px; margin:0; overflow-y:scroll; background:#D6D8E6; color:#333}
body, input, textarea, select {font-family:open sans,lucida grande,lucida sans unicode,helvetica,arial,sans-serif}
input, textarea, select {font-size:100%}


/* Links */
a {text-decoration:none; color:#1260ee}
a:hover {text-decoration:underline}
a:active {color:#1a3e6d}


/* Inline styles */
small {font-size:85%}


/* Block styles */
h2 {font-size:160%; font-weight:normal}
h3 {font-size:115%; font-weight:bold}
p, ul, pre {line-height:1.6em}
.bodyHeader h1 {line-height:1.5em; font-size:140%; font-weight:bold}


/* Layout */
#hdr-content, #body-content, #ftr-content {margin:0 auto; min-width:760px; max-width:1100px; padding:0 30px}
#body-content, #ftr-content {background-color:#fff}
#body-content {padding-bottom:20px; padding-top:10px}
#body {padding-top:48px}


/* Menus (inline lists) */
.menu {font-size:95%; list-style-type:none; margin-top:0; margin-bottom:0; padding:0; line-height:1}
.menu > li {display:inline-block}


/* Header */
#hdr {background:#364159; color:#fff; position:fixed; width:100%; z-index:350}
#hdr-inner {padding-right:580px; white-space:nowrap}
#hdr h1 {display:inline-block; max-width:100%; font-size:120%; padding:16px 0; margin:0; font-weight:bold; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
#hdr h1 img {margin:-9px 0; display:inline; vertical-align:bottom; border:0}
#hdr-inner > a, #hdr-inner > h1 a, #hdr-inner > ul > li > a {color:#fff}
#backButton {float:left; margin-right:10px; margin-left:-30px; font-size:20px; line-height:20px; margin-top:17px; text-decoration:none}

#mainMenu {margin-left:30px; display:inline; padding:18px 0}
#userMenu {float:right; padding:18px 0; margin-right:-580px; margin-left:-18px;}
#userMenu .item-user {font-weight:bold}
#userMenu .item-user .avatar {vertical-align:middle; margin:-5px 8px -5px 0}
#userMenu.menu > li {margin-left:18px; text-align:left}

#hdr .button {background:rgba(0, 0, 0, 0.3); border:1px solid transparent; border-radius:4px; color:#fff; font-size:100%; padding:9px 12px; margin:-7px 0; text-shadow:none}
#hdr .button:active {background:rgba(0, 0, 0, 0.5)}
#hdr .button i {color:#fff}


/* If a light header color is chosen, make the header text dark. */
.lightHdr #hdr .button {background:rgba(0, 0, 0, 0.1);}
.lightHdr #hdr .button:active {background:rgba(0, 0, 0, 0.3);}
.lightHdr #hdr, .lightHdr #hdr a {color:rgba(0, 0, 0, 0.7)}
.lightHdr #hdr .popupButton, .lightHdr #hdr #notifications {background-color:rgba(0, 0, 0, .1); color:rgba(0, 0, 0, 0.3)}


/* Footer */
#ftr {font-size:90%; color:#888; color:rgba(0, 0, 0, 0.5)}
#ftr-content {padding-top:20px; padding-bottom:20px; background:#fff}
#ftr li {margin-right:10px}
#ftr a {color:#444; color:rgba(0, 0, 0, 0.75);}
#ftr .item-copyright {float:right; margin:0}
#ftr .item-copyright a {color:#bbb; color:rgba(0, 0, 0, 0.3)}


/* Text inputs */
input[type=text], input[type=password], textarea {background:#fff; border:#ccc 1px solid; padding:3px; border-radius:3px; vertical-align:-1px; margin:0}
input[type=text]:focus, input[type=password]:focus, textarea:focus {border-color:#999; outline:0; box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15)}
.postBody textarea:focus {box-shadow:none}


/* Buttons */
.button {background:#e0e0e0 url(button.png) repeat-x; text-shadow:#fff 0 1px; color:#333; font-weight:bold; border:1px solid #ccc; box-shadow:0 1px 0 rgba(0, 0, 0, 0.04); margin-bottom:1px; -webkit-appearance:none}
.button:hover, .button:active {border-color:#ccc}
.button:active {background-color:#d3d3d3; background-position:0 -40px; color:#333}
.button.disabled {border-color:#ccc !important; background:#f2f2f2 !important; color:#999 !important; box-shadow:none !important}
