/*
Proto Skin Styles
This stylesheet contains styles that define Proto-specific fonts, sizes, and colors, and the layout of the
wrapper (header + footer). Interface-specific styles are included in skins/base/base.css and can be overridden
here if necessary.
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


/* Global */
body {font-size:13px; margin:0; overflow-y:scroll; background:#D6D8E6; color:#555}
body, input, textarea, select {font-family:open sans,lucida grande,lucida sans unicode,helvetica,arial,sans-serif}
input, textarea, select {font-size:100%}


/* Links */
a {text-decoration:none; color:#1260ee}
a:hover {text-decoration:underline}
a:active {color:#1a3e6d}


/* Inline styles */
small {font-size:85%}


/* Block styles */
h2 {font-size:160%; font-weight:normal}
h3 {font-size:115%; font-weight:bold}
p, ul, pre {line-height:1.6em}
.bodyHeader h1 {line-height:1.5em; font-size:140%; font-weight:bold}


/* Layout */
#hdr-content, #body-content, #ftr-content {margin:0 auto; min-width:760px; max-width:1100px; padding:0 30px}
#body-content, #ftr-content {background-color:#fff}
#body-content {padding-bottom:20px; padding-top:10px}
#body {padding-top:48px}


/* Menus (inline lists) */
.menu {font-size:95%; list-style-type:none; margin-top:0; margin-bottom:0; padding:0; line-height:1}
.menu > li {display:inline-block}


/* Header */
#hdr {background:#364159; color:#fff; padding:20px 0 14px; position:fixed; width:100%; z-index:350}
#hdr h1 {display:inline; font-size:120%; font-weight:bold; margin:0}
#hdr h1 img {margin:-20px 0 -14px; display:inline; border:0}
#hdr-content > a, #hdr-content > h1 a, #hdr-content > ul > li > a {color:#fff}
#backButton {margin-right:10px; margin-left:-30px; font-size:20px; line-height:1px; vertical-align:-2px; text-decoration:none}

#mainMenu {margin-left:30px; display:inline}
#userMenu {text-align:right; margin-top:-20px !important; margin-left:250px}
#userMenu .item-user {font-weight:bold}
#userMenu .item-user .avatar {vertical-align:middle; margin:-5px 8px -5px 0}
#userMenu.menu > li {margin-left:18px; text-align:left}

#hdr .button {border:1px solid #333; border-color:rgba(0, 0, 0, 0.5); border-radius:3px; color:#fff; text-shadow:0 -1px rgba(0, 0, 0, 0.5); font-size:100%; padding:7px 10px; -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.08); box-shadow:0 1px 0 rgba(255, 255, 255, 0.08); background:url(hdr-button.png) repeat-x; margin:-5px 0}
#hdr .button:active {background-position:0 -30px}


/* If a light header color is chosen, make the header text dark. */
.lightHdr #hdr .button {text-shadow:rgba(255, 255, 255, 0.3) 0 1px}
.lightHdr #hdr .button {border-color:rgba(0, 0, 0, 0.3)}
.lightHdr #hdr, .lightHdr #hdr a {color:rgba(0, 0, 0, 0.7)}
.lightHdr #hdr .popupButton, .lightHdr #hdr #notifications {background-color:rgba(0, 0, 0, .1); color:rgba(0, 0, 0, 0.3)}


/* Footer */
#ftr {font-size:90%; color:#888; color:rgba(0, 0, 0, 0.5)}
#ftr-content {padding-top:20px; padding-bottom:20px; background:#fff}
#ftr li {margin-right:10px}
#ftr a {color:#444; color:rgba(0, 0, 0, 0.75);}
#ftr .item-copyright {float:right; margin:0}
#ftr .item-copyright a {color:#bbb; color:rgba(0, 0, 0, 0.3)}


/* Text inputs */
input.text, textarea {background:#fff; border:#ccc 1px solid; padding:3px; border-radius:3px; vertical-align:-1px; margin:0}
input.text:focus, textarea:focus {border-color:#999; outline:0; box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15)}
.postBody textarea:focus {box-shadow:none}


/* Buttons */
.button {background:#e0e0e0 url(button.png) repeat-x; text-shadow:#fff 0 1px; color:#333; font-weight:bold; border:1px solid #ccc; box-shadow:0 1px 0 rgba(0, 0, 0, 0.04); margin-bottom:1px}
.button:hover, .button:active {border-color:#ccc}
.button:active {background-color:#d3d3d3; background-position:0 -40px; color:#333}
.button.disabled {border-color:#ccc !important; background:#f2f2f2 !important; color:#999 !important; box-shadow:none !important}